<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar" class="sidebar">
    <div class="header">
        <div class="logo">
            <i class='bx bx-moon'></i>
            <span style="color: white; font-size: 22px;"> Quản lý chung cư BlueMoon </span>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>

    <nav>
        <div class="ul-top">
            <ul>
                <li>
                    <a th:href="@{/homepage}">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="nav-item"> Trang chủ </span>
                    </a>
                    <span class="tooltip"> Trang chủ </span>
                </li>
                <li>
                    <a th:href="@{/quan-ly-khoan-thu}">
                        <i class='bx bx-receipt' ></i>
                        <span class="nav-item"> Quản lý khoản thu </span>
                    </a>
                    <span class="tooltip"> Quản lý khoản thu </span>
                </li>
                <li>
                    <a th:href="@{/thu-phi}">
                        <i class='bx bx-money-withdraw' ></i>
                        <span class="nav-item"> Thu phí </span>
                    </a>
                    <span class="tooltip"> Thu phí </span>
                </li>
                <li>
                    <a th:href="@{/thong-ke-dong-gop?id=0}">
                        <i class='bx bx-spreadsheet' ></i>
                        <span class="nav-item"> Thống kê đóng góp </span>
                    </a>
                    <span class="tooltip"> Thống kê đóng góp </span>
                </li>
                <li>
                    <a th:href="@{/thong-tin-nhan-khau}">
                        <i class='bx bx-buildings' ></i>
                        <span class="nav-item"> Quản lý nhân khẩu </span>
                    </a>
                    <span class="tooltip"> Thông tin nhân khẩu </span>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/quan-ly-tai-khoan}">
                        <i class='bx bx-group'></i>
                        <span class="nav-item"> Quản lý tài khoản</span>
                    </a>
                    <span class="tooltip"> Quản lý tài khoản </span>
                </li>
            </ul>
        </div>

        <div class="ul-bot">
            <hr class="sidebar-divider" sec:authorize="hasRole('ROLE_ADMIN')" style="margin-top: 20vh; margin-bottom: 20px;" />
            <hr class="sidebar-divider" sec:authorize="!hasRole('ROLE_ADMIN')" style="margin-top: 27vh; margin-bottom: 20px;" />

            <ul>
                <li class="user">
                    <a th:href="@{/thong-tin-tai-khoan}">
                        <img th:src="${currentAvatar}" class="user-avatar">

                        <div class="nav-item">
                            <p class="user-name" th:text="${currentUsername}"></p>
                            <p class="user-role" th:each="authority : ${#authentication.authorities}">
                                <span th:if="${authority.authority == 'ROLE_ADMIN'}">Quản trị viên</span>
                                <span th:if="${authority.authority == 'ROLE_HIGH_MANAGER'}">Quản lý cấp cao</span>
                                <span th:if="${authority.authority == 'ROLE_LOW_MANAGER'}">Quản lý cấp thấp</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <i class='bx bx-log-out'></i>
                        <span class="nav-item"> Đăng xuất </span>
                    </a>
                    <span class="tooltip"> Đăng xuất </span>
                </li>
            </ul>
        </div>
    </nav>
</div>