.mainboard {
    position: relative;
    top: 0;
    left: 100px;
    transition: all 0.5s ease;
    width: calc(100% - 100px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.main-content {
    height: 95%;
    width: 100%;
    min-width: 1020px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    overflow: auto;
}

.update-info {
    margin: 80px;
    line-height: 1.8;
}

.main-content p {
    font-size: 20px;
    margin-bottom: 10px;
}

.update-info ul li {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: normal;
}