.mainboard {
    position: relative;
    top: 0;
    left: 120px;
    height: 100vh;
    transition: all 0.5s ease;
    width: calc(100% - 120px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.header-content {
    width: 100%;
    min-width: 500px;
}

.main-content {
    height: 95%;
    width: 100%;
    min-width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    z-index: -1;
    overflow: auto;
}

form {
    width: 100%;
    height: auto;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

input, select {
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    background-color: #f9f9f9;
}

.detail {
    height: 300px;
    width: 90%;
    min-width: 1130px;
    padding: 10px;
    overflow-y: auto;
    vertical-align: top;
    resize: none;
}

.btn {
    float: right;
    font-size: 18px;
    background: linear-gradient(to right, #007e99, #005f6b);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}


