.mainboard {
    position: relative;
    top: 0;
    left: 120px;
    height: 100vh;
    transition: all 0.5s ease;
    width: calc(100% - 120px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.header-content {
    width: 100%;
    min-width: 500px;
}

.main-content {
    height: 95%;
    width: 100%;
    min-width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    z-index: -1;
    overflow: auto;
}

form {
    width: 100%;
    height: auto;
}

label {
    font-size: 18px; /* Kích thước chữ là 18px */
    font-weight: bold; /* Đặt chữ đậm */
    margin-bottom: 5px; /* Khoảng cách dưới 5px */
    display: flex; /* Kích hoạt Flexbox */
    align-items: center; /* Căn chỉnh text và input theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa text và input */
}

input, select {
    font-size: 16px; /* Kích thước chữ là 16px */
    height: 40px; /* Chiều cao cố định là 40px */
    width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
    /*max-width: 600px;  Chiều rộng tối đa là 600px */
    margin-bottom: 15px; /* Khoảng cách dưới là 15px */
    padding: 8px;  /*Khoảng cách nội dung cách viền là 8px */
    border-radius: 5px; /* Làm tròn các góc với bán kính 5px */
    border: 1px solid #DCDCDC; /* Viền mỏng màu xám nhạt */
    background-color: #f9f9f9; /* Đặt nền màu xám nhạt */
}

.detail {
    height: 300px;
    width: 90%;
    min-width: 1130px;
    padding: 10px;
    overflow-y: auto;
    vertical-align: top;
    resize: none;
}

.btn {
    float: right;
    font-size: 18px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

