* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    height: 100vh;
    min-height: 800px;
    margin: 0;
    display: flex;
}


.sidebar {
    background: linear-gradient(to bottom, #00CED1, #191970);
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    min-height: 800px;
    padding: 12px 20px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .mainboard{
    left: 300px;
    width: calc(100% - 300px);
}

.sidebar.active {
    width: 300px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: 6px;
    left: 50%;
    font-size: 35px;
    line-height: 4.5vh;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .header .logo {
    color: white;
    display: flex;
    height: 4.5vh;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .header .logo{
    opacity: 1;
}

.header .logo i {
    font-size: 40px;
    margin-right: 5px;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 6.5vh;
    min-height: 55px;
    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    vertical-align: middle;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

.sidebar ul li a:hover {
    background-color: white;
    color: #00CED1;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 6.5vh;
    min-height: 55px;
    border-radius: 15px;
    line-height: 6.5vh;
    font-size: 27px;
 }

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    background-color: white;
    position: absolute;
    left: 85px;
    top: 50%;
    white-space: nowrap;
    transform: translateY(-50%);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 6px 20px;
    line-height: 25px;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar-divider {
    margin-top: 28vh;
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    margin: 18px 0;
    width: 100%;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid white;
}

.user-name {
    font-weight: bold;
    font-size: 24px;
    margin: 10px auto;
}

.user-role {
    font-size: 12px;
    margin: 10px auto;
}

.user .nav-item {
    margin-left: 20px;
}





