.mainboard {
    position: relative;
    top: 0;
    left: 100px;
    transition: all 0.5s ease;
    width: calc(100% - 100px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.main-content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.drop_down_list_khoanthu{
    max-height: 40px;
    overflow: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a8a7a7;
}