.mainboard {
    position: relative;
    top: 0;
    left: 120px;
    height: 100vh;
    transition: all 0.5s ease;
    width: calc(100% - 120px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
}

.header-content {
    width: 100%;
    min-width: 500px;
}

.main-content {
    height: 50%;
    width: 100%;
    min-width: 500px;
    z-index: -1;
}

.main-content .top {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
}

.upper-container {
    display: flex;
    height: 60%;
    margin-bottom: 15px;
}

.upper-table {
    width: 22%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
}

.upper-table .table-khoanthu {
    width: 100%;
    border-collapse: collapse;
}

.upper-table .table-khoanthu th,td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000000;
}

.upper-table .table-khoanthu th {
    font-size: 16px;
    font-weight: bold;
}

.upper-table .table-khoanthu tbody tr {
    cursor: pointer;
    font-size: 14px;
}

.upper-chart1 {
    width: 54%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
}

.upper-chart2 {
    width: 22%;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: white;
}

.lower-container {
    display: flex;
    height: 105%;
}

.lower-table {
    width: 77%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
}

.lower-table .table-canho {
    width: 100%;
    border-collapse: collapse;
}

.lower-table .table-canho thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(169, 169, 169, 1); /* Màu xám đậm */
    color: white; /* Đặt màu chữ thành trắng cho dễ đọc */
}

.lower-table .table-canho th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000000;
}

.lower-table .table-canho th {
    font-size: 18px;
    font-weight: bold;
}

.lower-chart {
    width: 22%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.lower-chart p {
    display: flex;
    justify-content: space-between;
}
