body {
    font-family: 'Helvetica';
    margin: 0;
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    min-height: 500px;
    display: flex;
    background-color: #ADD8E6;;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.logo-side {
    background-color: white;
    width: 45%;
    height: 90%;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction {
    width: 250px;
    color: #00CED1;
    font-size: 22px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 30px;
    text-align: left;
    align-self: flex-start;
    display: flex;
}

.introduction i {
    font-size: 40px;
    margin-right: 5px;
}

.illustration {
    width: 90%;
    height: 75%;
    overflow: hidden;
    object-fit: contain;
}

.login-side {
    background: linear-gradient(to bottom, #00CED1, #191970);
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.loginform {
    width: 60%;
    height: 80%;
    margin: auto;
    color: white;
}


label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;

}

input {
    font-size: 18px;
    height: 35px;
    width: 83%;
    padding: 5px;
    border-radius: 10px;
    border-color: #DCDCDC;
}

.login-button {
    background: linear-gradient(to right, #FFD700, #FF8C00);
    color: #4169E1;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 85%;
    border-radius: 10px;
    cursor: pointer;
}

.forgotpassword-button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
