<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/access-denied.css">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <title>Quản lý khoản thu</title>

  <script>
    function goBack() {
        window.history.back();
    }
  </script>
</head>
<body>

<div th:replace="~{fragments/sidebar :: sidebar}" class="sidebar"> <!-- Sidebar placeholder --> </div>

<div class="mainboard">

  <div class="main-content" id="maincontent">
    <h2>Truy cập bị từ chối</h2>
    <hr> <br>
    <p>Bạn không có quyền truy cập vào trang này.</p>
    <br>
    <button onclick="goBack()">Quay lại trang trước</button>
  </div>
  </div>

<script src="/js/menu-toggle.js"> </script>
</body>
</html>