<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Trang chủ </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/homepage-content.css">
  <link rel="stylesheet" href="css/template.css">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
  <div th:replace="~{/fragments/sidebar :: sidebar}" class="sidebar"> <!-- Sidebar placeholder --> </div>

  <div class="mainboard">
    <div class="header-content">
      <h1> Trang chủ </h1> <br>
    </div>
    <div class="upper" id="maincontent">
      <p> Xin chào, <span th:text="${username}"></span> <br>Chào mừng đến với trang chủ của Web Quản lý Chung cư BlueMoon </p>
      <hr>
    </div>

    <div class="lower">

      <div class="left">
        <div class="weather" th:style="'background: ' + ${backgroundColor} + '; color: ' + (${weatherID / 100} <= 5 ? 'white' : '#555555') + ';'">
          <h2>Hà Nội</h2> <br>
          <div class="weather1">
            <img th:src="'http://openweathermap.org/img/wn/' + ${icon} + '@2x.png'">
            <div class="weather2">
              <p>Nhiệt độ: <span th:text="${temperature} + '°C'"></span></p>
              <p>Thời tiết: <span th:text="${description}"></span></p>
            </div>
          </div>
        </div>

        <div class="recent-invoice">
          <p> bang cac hoa don gan day</p>
        </div>
      </div>

      <div class="right">
        <p> tin tuc cac kieu o day</p>
      </div>
    </div>

  </div>

</body>

<script src="js/menu-toggle.js"> </script>
</html>