<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Trang chủ </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/homepage-content.css">
  <link rel="stylesheet" href="css/template.css">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
<div th:replace="~{/fragments/sidebar :: sidebar}" class="sidebar"> <!-- Sidebar placeholder --> </div>


  <div class="mainboard">
    <div class="header-content">
      <h1> Trang chủ </h1> <br>
    </div>
    <div class="upper">
      <p> Xin chào, <span th:text="${currentUsername}"></span> <br>Chào mừng đến với trang chủ của Web Quản lý Chung cư BlueMoon </p>
      <hr>
      <div class="slider">
        <ul class="slider-list">
          <li th:each="khoanthu : ${top5khoanthu}" class="item" th:data-loaikhoanthu="${khoanthu.loaikhoanthu}">
            <div class="overlay">
              <p th:text="${khoanthu.tenkhoanthu}"></p>
              <p>Số tiền: <span class="money" th:text="${khoanthu.sotien}"></span> VNĐ</p>
              <p>Hạn chót: <span th:text="${#temporals.format(khoanthu.hanchot, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            </div>
          </li>
        </ul>
        <div class="slider-button">
          <button class="prev" onclick="moveLeft()">&#8592;</button>
          <button class="next" onclick="moveRight()">&#8594;</button>
        </div>
      </div>
    </div>

    <div class="lower">

      <div class="left">
        <div class="weather" th:style="'background: ' + ${backgroundColor} + '; color: ' + (${weatherID / 100} <= 5 ? 'white' : '#555555') + ';'">
          <h2>Hà Nội</h2> <br>
          <div class="weather1">
            <img th:src="'http://openweathermap.org/img/wn/' + ${icon} + '@2x.png'">
            <div class="weather2">
              <p>Nhiệt độ: <span th:text="${temperature} + '°C'"></span></p>
              <p>Thời tiết: <span th:text="${description}"></span></p>
            </div>
          </div>
        </div>

        <div class="recent-invoice">
          <h2>Hóa đơn gần đây</h2>
          <table class="table">
            <thead>
            <tr>
              <th>Phòng</th>
              <th>Thời gian</th>
              <th>Số tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hoadon : ${top5hoadon}">
              <td th:text="${hoadon.roomNumber}"></td>
              <td th:text="${#temporals.format(hoadon.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
              <td class="money" th:text="${hoadon.totalAmount}"></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="right">
        <ul>
          <li th:each="article : ${articles}">
            <a class="news" th:href="${article['url']}" target="_blank" rel="noopener noreferrer">
              <img th:src="${article['urlToImage']}" alt="Article Image" />
              <div class="news1">
                <h2 th:text="${article['title']}"></h2>
                <p th:text="${article['description']}"></p>
              </div>
            </a>
            <hr>
          </li>
        </ul>
      </div>

    </div>

  </div>

<script>
  document.querySelectorAll('.money').forEach(function(cell) {
    var amount = parseFloat(cell.textContent.trim().replace(/,/g, ''));  // Sử dụng parseFloat và loại bỏ dấu phẩy nếu có
    if (!isNaN(amount)) {
        var formattedAmount = amount.toLocaleString();  // Định dạng lại số
        cell.textContent = formattedAmount;
    }
  });


</script>
</body>

<script src="js/menu-toggle.js"> </script>
<script src="js/homepage-slider.js"> </script>
</html>