<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Trang chủ </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="css/thong-tin-tai-khoan-content.css">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
<div th:replace="~{/fragments/sidebar :: sidebar}" class="sidebar"> <!-- Sidebar placeholder --> </div>

<div class="mainboard">
  <div class="header-content">
    <h1> Thông tin tài khoản </h1> <br>
  </div>
  <div class="main-content" id="maincontent">
    <div class="avatar-container">
      <!--        <form id="update-avatar" action="#" th:action="@{/update-avatar}" method="POST" enctype="multipart/form-data">-->
      <!--          <img th:src="${currentAvatar}" class="avatar">-->
      <!--          <br>-->
      <!--          <label for="avatar" class="avatar-button"> Chọn ảnh </label>-->
      <!--          <input type="file" id="avatar" name="avatar" accept="image/*" style="display: none;" onchange="updateAvatarName()">-->
      <!--        </form>-->
      <img th:src="${currentAvatar}" class="avatar">
    </div>

    <div class="info-container">
      <form th:action="@{/update-info}" th:object="${user}" method="post">
        <div class="info-item">
          <label for="username"> Tên tài khoản: </label>
          <input type="text" th:field="*{username}" id="username" disabled>
        </div>
        <div class="info-item">
          <label for="first_name"> Họ: </label>
          <input type="text" th:field="*{first_name}" id="first_name" disabled>
        </div>
        <div class="info-item">
          <label for="last_name"> Tên: </label>
          <input type="text" th:field="*{last_name}" id="last_name" disabled>
        </div>
        <div class="info-item">
          <label for="phone_number"> Số điện thoại: </label>
          <input type="tel" th:field="*{phone_number}" id="phone_number" disabled>
        </div>
        <div class="info-item">
          <label for="email"> Email: </label>
          <input type="email" th:field="*{email}" id="email" disabled>
        </div>
        <div class="info-item">
          <label for="role">Chức vụ:</label>
          <input type="text" id="role"
                 th:value="${role == 'ADMIN' ? 'Quản trị viên' :
                      (role == 'HIGH_MANAGER' ? 'Quản lý cấp cao' :
                      (role == 'LOW_MANAGER' ? 'Quản lý cấp thấp' : ''))}"
                 disabled />
        </div>

        <button class="info-button" type="button" id="editButton" onclick="enableEditing()"> Chỉnh sửa thông tin </button>
        <button class="info-button" type="submit" id="saveButton" style="display: none;"> Lưu </button>
      </form>
    </div>
  </div>
</div>

</body>

<script src="js/menu-toggle.js"> </script>
<script src="js/update-avatar-info.js"> </script>
</html>