<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Tạo Hóa Đơn Thu Phí</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/thu-phi-content.css">
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

<!--   CSRF Token -->
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>
<body>
<div th:replace="~{fragments/sidebar :: sidebar}" class="sidebar"></div>

<div class="mainboard">
  <div class="header-content">
    <h1>Thu phí</h1> <br>
  </div>
  <div class="main-content" id="maincontent">
    <h2>Tạo Hóa Đơn Thu Phí</h2> <hr> <br>

    <form action="/create-invoice" method="POST" id="invoiceForm">
      <div class="form-row">
        <label for="payerName">Người nộp:</label>
        <input type="text" id="payerName" name="payerName" placeholder="Nhập tên người nộp" required>
      </div>
      <div class="form-row">
        <label for="phoneNumber">Số điện thoại:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Nhập số điện thoại" required pattern="[0-9]{10}">
      </div>
      <div class="form-row">
        <label for="roomNumber">Số phòng:</label>
        <input type="text" id="roomNumber" name="roomNumber" placeholder="Nhập số phòng" required>
      </div>
      <div class="form-row">
        <label for="ownerName">Tên chủ hộ:</label>
        <input type="text" id="ownerName" name="ownerName" readonly>
      </div>
      <div class="form-row">
        <label for="dueAmounts">Các khoản chưa đóng:</label>
        <div id="dueAmounts" class="due-amounts-scroll"></div>
      </div>
      <div>
        <label for="paymentAmount">Số tiền phải đóng:</label>
        <input type="text" id="paymentAmount" name="paymentAmount" readonly>
      </div>
      <div class="button-container">
        <button type="button" class="generate-invoice-button">Tạo Hóa Đơn</button>
      </div>
    </form>
  </div>
</div>
<!-- Overlay hiển thị khi đang tải -->
<div id="loadingOverlay" class="loading-overlay">
  <div class="loading-spinner"></div>
  <p> Đang tải dữ liệu, vui lòng đợi...</p>
</div>

<script src="js/menu-toggle.js"></script>
<script src="js/thu-phi.js"></script>
</body>
</html>

